.product-container{
    height: 510px;
    width: 300px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
  
  }
  .product-container img{
    height: 286px;
    width: 286px;
    border-radius: 8px;
    margin: 7px;
  }
  
  
